<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="adonetdbEntities" connectionString="metadata=res://*/AdonetDb.csdl|res://*/AdonetDb.ssdl|res://*/AdonetDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NBA-215-E1-PL;initial catalog=adonetdb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>